.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  font-weight: 700;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
}

.toggleButton {
  background-color: var(--color-brand--2);
  color: var(--color-light--2);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 2.5rem;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.toggleButton:hover {
  transform: scaleX(1.1);
}

.textTooltip {
  visibility: hidden;
  width: 100px;
  top: 48.7%;
  left: 120%;
  font-size: x-small;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.toggleButton:hover .textTooltip {
  visibility: visible;
  opacity: 1;
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.position {
  font-weight: 700;
  position: absolute;
  z-index: 1000;
  font-size: 1.4rem;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
